:root {
    --btn-green: #7fc8f8;
    --btn-pink: #ff8fab;
    --light-brown-border: 0.5px solid #d5bdaf;
    --light-brown-shadow: 5px 10px 15px #e3d5ca;
}

#timer-setter {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    font-family: 'Comfortaa', sans-serif;
    -moz-appearance: textfield;
    margin-top: 5px;
    margin-bottom: 5px;
  }

input {
    display: block;
    background-color: inherit;
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
    border: none;
}

.setter-group {
    width: 155px;
    height: 155px;
    padding: 20px 10px;
    border: var(--light-brown-border);
    border-radius: 25px;
    box-shadow: var(--light-brown-shadow);
}

.setter-type {
    font-family: 'Montserrat Alternates', sans-serif;
}

.setter-btns > .btn-setter:first-of-type{
    margin-right: 15px;
}

.btn-setter {
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 2em;
}

.btn-setter:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.btn-plus {
    background-color: var(--btn-green);
}

.btn-minus {
    background-color: var(--btn-pink);
}


@media (min-width: 1000px) {
    #timer-setter {
        gap: 200px;
    }
}