:root {
    --progress-bar-shadow: 5px 5px 15px #e3d5ca;
    --text-blue: #238cd7;
    --text-black: #323232;
}

#timer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
    border-radius: 50%;
}

#progress-bar {
    width: 325px;
    height: 325px;
    border-radius: 50%;
    padding: 30px;
    box-shadow: var(--progress-bar-shadow);
}

#timer {
    position: relative;
    border-radius: 50%;
    background: var(--bg-beige);
    width: 100%;
    height: 100%;
}

#timer-content {
    width: fit-content;
    height: fit-content;
    padding: 30% 0 0 0;
    margin: 0 auto;
}

#time-left {
    font-family: 'Titan One', sans-serif;
    color: var(--text-blue);
    font-size: 4em;
    margin-bottom: 10px;
}

#timer-label {
    font-family: 'Comic Neue', sans-serif; 
    color: var(--text-black);
    font-weight: 700;
    font-size: 1.5em;
}

.text-uppercase {
    text-transform: uppercase;
}

#timer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn-timer {
    color: var(--text-black);
    width: fit-content;
    height: fit-content;
    background-color: inherit;
    border: none;
}

.btn-timer:hover {
    cursor: pointer;
}

.btn-timer:active {
    filter: brightness(200%);
}

#start_stop {
    font-size: 3.2em;
}

#reset {
    font-size: 2.5em;
}


@media (min-width: 1000px) {
    #progress-bar {
        width: 400px;
        height: 400px;
        padding: 30px;
    }

    #timer-content {
        padding: 35% 0 0 0;
    }
}